<!-- Dispatcher Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="dashboard.html" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Панель керування</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="../../pages/dispatcher/requests.html" class="nav-link">
                <i class="nav-icon fas fa-clipboard-list"></i>
                <p>Заявки</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="../../pages/dispatcher/assignments.html" class="nav-link">
                <i class="nav-icon fas fa-user-hard-hat"></i>
                <p>Призначення техніків</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="../../pages/dispatcher/lifts.html" class="nav-link">
                <i class="nav-icon fas fa-building"></i>
                <p>Ліфти</p>
            </a>
        </li>
        
        <!-- QR System Menu -->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-qrcode"></i>
                <p>
                    QR Система
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="../../qr-interface.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Загальний інтерфейс</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../../pages/dispatcher/qr-management.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Управління QR-кодами</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../../pages/qr/scanner.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Сканер QR-кодів</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../../pages/qr/generator.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Генератор QR-кодів</p>
                    </a>
                </li>
            </ul>
        </li>
        
        <li class="nav-item">
            <a href="../../pages/dispatcher/reports.html" class="nav-link">
                <i class="nav-icon fas fa-chart-bar"></i>
                <p>Звіти</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" id="logout-button">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>Вихід</p>
            </a>
        </li>
    </ul>
</nav>